.product {
	background: whitesmoke;
}
.under-line {
	height: 2px;
	width: 70px;
	margin-top: 20px;
	background: black;
}
/* .product-category {
	margin-top: 20px;
	margin-right: 250px;
	margin-left: 250px;
} */
.category-item {
	margin-left: 15px;
	border-radius: 25px;
	background-color: rgb(199, 197, 197);
	padding: 8px 20px;
}
.category-item:hover {
	cursor: pointer;
	background-color: #ffae03;
	transition-duration: 0.5s;
}
.product-img {
	height: 150px;
	object-position: center;
	object-fit: contain;	    
}
.price-color {
	color: #e01222;
}
.cat-btn {
	border-radius: 25px;
	background-color: #ffa500;
	padding: 5px 15px;
	border: 0;
	font-size: 14px;
}
.cat-btn:hover {
	background-color: #1e90ff;
	transition-duration: 0.5s;
}
