.product {
	background: whitesmoke;
}
.under-line {
	height: 3px;
	width: 130px;
	margin-top: 10px;
	background: #2c3e50;
}
.product-category {
	margin-top: 20px;
	margin-right: 250px;
	margin-left: 250px;
}
.category-item {
	border-radius: 25px;
	background-color: #ddddddbd;
	border: 1px solid lightgray;
	color: #2c3e50;
	font-weight: bold;
	margin-left: 15px;
	padding: 8px 20px;
}
.category-item:hover {
	cursor: pointer;
	background-color: #ffae03;
	transition-duration: 0.5s;
}
.product-img {
	height: 150px;
	object-position: center;
	object-fit: contain;
}
.price-color {
	color: #ffa500;
	font-weight: bold;
}
.cat-btn {
	border-radius: 25px;
	background-color: #ffa500;
	padding: 5px 15px;
	border: 0;
	font-size: 16px;
}
.cat-btn:hover {
	box-shadow: 2px 2px 10px gray;
	background-color: #ffa500;
	transition-duration: 0.5s;
}
