.banner {
	height: 90vh;
	background: url("https://images.unsplash.com/photo-1515940175183-6798529cb860?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z2FkZ2V0fGVufDB8fDB8fA%3D%3D&w=1000&q=80")
		no-repeat center;
	background-size: cover;
}
.banner > img {
	width: 100vw;
}
.bannerText {
	width: 40%;
	margin-left: 8%;
}
.bannerText > h2 {
	color: #34495e;
	font-size: 55px;
}
.bannerText > p {
	font-size: 20px;
	text-align: justify;
	color: #2c3e50;
}
.explore-btn {
	background: orange;
	border: 1px solid #ffffff;
	color: #ffffff;
	font-weight: bold;
	transform: 0.4s;
}
.explore-btn:hover {
	background: orange;
	box-shadow: 2px 2px 10px #271f1f;
	color: white;
}
